/**
 * app.css
 * To add css styles to app.js && index.html
 */ 

/* EXTERNALS */
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700&display=swap');

* { /* Reset default CSS */
    margin: 0em;
    padding: 0em;
}

/* Selectors for DOM tags */
body { /* Main element container*/
    background-color: #FFEEAD;
}

main {
    font-size: 2vw;
}

h1 {
    font-family: 'Euphoria Script', cursive;
    font-size: 8em;
    color: #68A691;
    text-shadow: 2px 2px 5px #DB5461;
}

/* Selectors for classes */
.center-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Selectors for IDs */
#content {
    background-color: rgb(255, 255, 255);
    padding: 1em 5em 1em 5em;
    border-radius: 8em;
    box-shadow: 0em 0em 1em 0.25em #F4F1DE;

    font-family: 'Source Code Pro', monospace;
    font-size: 2vw;
    font-weight: 500;
    color: #392F5A;
}